apiVersion: batch/v1
kind: Job
metadata:
  generateName: inference-perf-
  labels:
    app: inference-perf
  namespace: {{.Namespace}}
spec:
  template:
    metadata:
      labels:
        app: inference-perf
        sidecar.istio.io/inject: "false"
    spec:
      restartPolicy: Never
      containers:
      - name: inference-perf
        image: quay.io/inference-perf/inference-perf:d8e4af8
        command:
        - /bin/sh
        - -c
        args:
        - |
{{- if not .IsKind }}
          TIMESTAMP=$(date +'%y%m%d%H%M%S')$(printf "%04d" $((RANDOM % 10000)))
          
          S3_PREFIX_BASE="{{.S3PrefixBase}}"
          TAG="{{.VLLMTag}}"
          PRESET="{{.Preset}}"
          EXP_TYPE="{{.ExpType}}"
          EXP_NAME="{{.ExpName}}"
          
          S3_PREFIX="${S3_PREFIX_BASE}/${TAG}/${PRESET}/${EXP_TYPE}/${EXP_NAME}/${TIMESTAMP}"
{{- end }}

          cat <<EOF > /tmp/config.yaml
              api:
                type: completion
                streaming: true

              data:
                type: random
                input_distribution:
                  mean: 1000
                  std_dev: 0
                output_distribution:
                  mean: 1000
                  std_dev: 0

              load:
                type: constant
                interval: 5
                stages:
                  - rate: 20
                    duration: 10
                num_workers: 20
                worker_max_concurrency: 1000
                worker_max_tcp_connections: 2000
                request_timeout: 300

              server:
                type: vllm
                model_name: {{.ModelName}}
                base_url: {{.BaseURL}}

              report:
                request_lifecycle:
                  summary: false
                  per_stage: true
                  per_request: false

              storage:
                local_storage:
                  path: reports
{{- if not .IsKind }}
                simple_storage_service:
                  bucket_name: "{{.S3Bucket}}"
                  path: "${S3_PREFIX}"
                  report_file_prefix: null
{{- end }}
          EOF

          /workspace/.venv/bin/inference-perf \
            -c /tmp/config.yaml \
            --log-level INFO

          cat reports*/*.json
{{- if or (or .HFToken .HFEndpoint) (and (not .IsKind) .S3AccessKeyID .S3SecretKey) }}
        env:
{{- if .HFToken }}
          - name: HF_TOKEN
            value: "{{ .HFToken }}"
{{- end }}
{{- if .HFEndpoint }}
          - name: HF_ENDPOINT
            value: "{{ .HFEndpoint }}"
{{- end }}
{{- if and (not .IsKind) .S3AccessKeyID .S3SecretKey }}
          - name: AWS_ACCESS_KEY_ID
            value: "{{ .S3AccessKeyID }}"
          - name: AWS_SECRET_ACCESS_KEY
            value: "{{ .S3SecretKey }}"
          - name: AWS_DEFAULT_REGION
            value: "{{ .S3Region }}"
{{- end }}
{{- end }}
