apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mif-e2e-model-pvc
  namespace: {{.Namespace}}
spec:
  storageClassName: ceph-filesystem
  volumeName: mif-e2e-model-pv
  accessModes:
    - ReadOnlyMany
  resources:
    requests:
      storage: 10Ti