apiVersion: odin.moreh.io/v1alpha1
kind: InferenceServiceTemplate
metadata:
  name: workertemplate-pd-decode-meta
  namespace: {{ .Namespace }}
spec:
  workerTemplate:
    metadata:
      labels:
        mif.moreh.io/role: decode
