apiVersion: odin.moreh.io/v1alpha1
kind: InferenceServiceTemplate
metadata:
  name: sim-decode
  namespace: {{ include "common.names.namespace" . }}
  labels:
    {{- include "mif.utils.labels" . | nindent 4 }}
spec:
  template:
    metadata:
      labels:
        heimdall.moreh.io/role: decode # DEPRECATED
        mif.moreh.io/role: decode
    spec:
      imagePullSecrets:
        - name: moreh-registry
      initContainers:
        - name: proxy
          image: 255250787067.dkr.ecr.ap-northeast-2.amazonaws.com/heimdall-proxy:v0.6.1
          restartPolicy: Always
          command:
            - /bin/bash
            - -c
          args:
            - |
              set -ex

              exec /app/proxy \
                --port 8000 \
                --decoder-ip $(POD_IP) \
                --decoder-port 8200 \
                $(ISVC_EXTRA_ARGS)
          env:
            - name: ISVC_EXTRA_ARGS
              value: >-
                --pd-coordinator vllm/nixl
                --log-format json
                --log-level warn
            - name: POD_IP
              valueFrom:
                fieldRef:
                  fieldPath: status.podIP
          readinessProbe:
            httpGet:
              path: /health-proxy
              port: 8000
              scheme: HTTP
            initialDelaySeconds: 10
            periodSeconds: 10
            timeoutSeconds: 5
            successThreshold: 1
            failureThreshold: 3
      containers:
        - name: main
          image: ghcr.io/llm-d/llm-d-inference-sim:v0.7.1
          command:
            - /bin/bash
            - -c
          args:
            - |
              set -ex

              cleanup() {
                echo "Received SIGTERM, killing child processes..."
                pkill -P $$
                wait
              }
              trap cleanup SIGTERM SIGINT

              if [ -n "$ISVC_PRE_PROCESS_SCRIPT" ]; then
                echo "Running pre-process script..."
                eval "$ISVC_PRE_PROCESS_SCRIPT"
              fi

              exec /app/llm-d-inference-sim \
                --model "${ISVC_MODEL_PATH}" \
                --served-model-name "${ISVC_MODEL_NAME}" \
                --port 8200 \
                $(ISVC_EXTRA_ARGS)
          env:
            - name: ISVC_MODEL_NAME
              value: "meta-llama/Llama-3.2-1B-Instruct"
            - name: ISVC_MODEL_PATH
              value: "$(ISVC_MODEL_NAME)" # use "fake-model" to avoid the time and network overhead of tokenization
            - name: ISVC_EXTRA_ARGS
              value: >-
                --max-model-len 8192
                --max-num-seqs 128
                --inter-token-latency 50ms
                --inter-token-latency-std-dev 5ms
          ports:
            - name: http
              containerPort: 8000
          readinessProbe:
            httpGet:
              path: /health
              port: 8200
              scheme: HTTP
            initialDelaySeconds: 10
            periodSeconds: 10
            timeoutSeconds: 5
            successThreshold: 1
            failureThreshold: 3
