ecrTokenRefresher:
  aws:
    accessKeyId: {{ .AWSAccessKeyID }}
    secretAccessKey: {{ .AWSSecretAccessKey }}

loki:
  chunksCache:
    allocatedMemory: 2048
  resultsCache:
    allocatedMemory: 512
