apiVersion: odin.moreh.io/v1alpha1
kind: InferenceServiceTemplate
metadata:
  name: vllm-deepseek-r1-prefill-mi300x-dp8ep
  namespace: {{ include "common.names.namespace" . }}
  labels:
    {{- include "mif.preset.labels" . | nindent 4 }}
spec:
  parallelism:
    data: 8
    expert: true
  workerTemplate:
    spec:
      containers:
        - name: main
          image: 255250787067.dkr.ecr.ap-northeast-2.amazonaws.com/quickstart/moreh-vllm:vllm_0.11.0rc1_251230
          env:
            - name: VLLM_MOE_DP_CHUNK_SIZE
              value: "4096"
            - name: VLLM_V1_OUTPUT_PROC_CHUNK_SIZE
              value: "128"
            - name: VLLM_MORI_COMBINE_WARP_PER_BLK
              value: "4"
            - name: VLLM_IS_DECODE_WORKER
              value: "prefill"
            - name: ISVC_MODEL_NAME
              value: "deepseek-ai/DeepSeek-R1"
            - name: UCX_IB_PCI_RELAXED_ORDERING
              value: "on"
            - name: NCCL_IB_PCI_RELAXED_ORDERING
              value: "1"
            - name: NCCL_NET_GDR_LEVEL
              value: "3"
            - name: NCCL_MIN_NCHANNELS
              value: "112"
            - name: VLLM_RANDOMIZE_DP_DUMMY_INPUTS
              value: "1"
            - name: VLLM_ROCM_USE_AITER
              value: "1"
            - name: VLLM_ROCM_USE_AITER_FP8BMM
              value: "0"
            - name: VLLM_ALL2ALL_BACKEND
              value: "mori"
            - name: VLLM_HTTP_TIMEOUT_KEEP_ALIVE
              value: "1000000000"
            - name: VLLM_NIXL_ABORT_REQUEST_TIMEOUT
              value: "1000000000"
            - name: VLLM_LOG_STATS_INTERVAL
              value: "10"
            - name: VLLM_SERVERSIDE_LOGGING
              value: "1"
            - name: VLLM_SERVERSIDE_LOG_INTERVAL
              value: "10"
            - name: ISVC_EXTRA_ARGS
              value: >-
                --trust-remote-code
                --kv-transfer-config '{"kv_connector":"NixlConnector","kv_role":"kv_both"}'
                --disable-uvicorn-access-log
                --no-enable-log-requests
                --prefix-caching-hash-algo sha256_cbor
                --enable-prefix-caching
                --kv-cache-dtype fp8_e4m3
                --quantization ds_fp8_per_token
                --no-enable-chunked-prefill
                --enforce-eager
                --max-num-batched-token 65536
                --gpu-memory-utilization 0.7
                --block-size 32
                --max-model-len 16384
                --max-num-seqs 2048
