apiVersion: nfd.k8s-sigs.io/v1alpha1
kind: NodeFeatureRule
metadata:
  name: moai-accelerator
spec:
  rules:
    # https://github.com/ROCm/gpu-operator/blob/main/helm-charts-k8s/templates/gpu-nfd-default-rule.yaml
    # the PCI info is from these websites:
    # source1: https://admin.pci-ids.ucw.cz/read/PC/1002
    # source2: https://devicehunt.com/view/type/pci/vendor/1002
    # --- AMD Instinct Series ---
    - name: accelerator-amd-mi355x
      labels:
        moai.moreh.io/accelerator.vendor: amd
        moai.moreh.io/accelerator.model: mi355x
      matchAny:
        - matchFeatures:
            - feature: pci.device
              matchExpressions:
                vendor: { op: In, value: ["1002"] }
                device: { op: In, value: ["75a3"] }

    - name: accelerator-amd-mi350x
      labels:
        moai.moreh.io/accelerator.vendor: amd
        moai.moreh.io/accelerator.model: mi350x
      matchAny:
        - matchFeatures:
            - feature: pci.device
              matchExpressions:
                vendor: { op: In, value: ["1002"] }
                device: { op: In, value: ["75a0"] }

    - name: accelerator-amd-mi325x
      labels:
        moai.moreh.io/accelerator.vendor: amd
        moai.moreh.io/accelerator.model: mi325x
      matchAny:
        - matchFeatures:
            - feature: pci.device
              matchExpressions:
                vendor: { op: In, value: ["1002"] }
                device: { op: In, value: ["74a5"] }

    - name: accelerator-amd-mi308x
      labels:
        moai.moreh.io/accelerator.vendor: amd
        moai.moreh.io/accelerator.model: mi308x
      matchAny:
        - matchFeatures:
            - feature: pci.device
              matchExpressions:
                vendor: { op: In, value: ["1002"] }
                device: { op: In, value: ["74a2"] }

    - name: accelerator-amd-mi300a
      labels:
        moai.moreh.io/accelerator.vendor: amd
        moai.moreh.io/accelerator.model: mi300a
      matchAny:
        - matchFeatures:
            - feature: pci.device
              matchExpressions:
                vendor: { op: In, value: ["1002"] }
                device: { op: In, value: ["74a0"] }

    - name: accelerator-amd-mi300x
      labels:
        moai.moreh.io/accelerator.vendor: amd
        moai.moreh.io/accelerator.model: mi300x
      matchAny:
        - matchFeatures:
            - feature: pci.device
              matchExpressions:
                vendor: { op: In, value: ["1002"] }
                device: { op: In, value: ["74a1"] }

    - name: accelerator-amd-mi300x-hf
      labels:
        moai.moreh.io/accelerator.vendor: amd
        moai.moreh.io/accelerator.model: mi300x-hf
      matchAny:
        - matchFeatures:
            - feature: pci.device
              matchExpressions:
                vendor: { op: In, value: ["1002"] }
                device: { op: In, value: ["74a9"] }

    - name: accelerator-amd-mi250x
      labels:
        moai.moreh.io/accelerator.vendor: amd
        moai.moreh.io/accelerator.model: mi250x
      matchAny:
        - matchFeatures:
            - feature: pci.device
              matchExpressions:
                vendor: { op: In, value: ["1002"] }
                device: { op: In, value: ["7408"] }

    - name: accelerator-amd-mi250
      labels:
        moai.moreh.io/accelerator.vendor: amd
        moai.moreh.io/accelerator.model: mi250
      matchAny:
        - matchFeatures:
            - feature: pci.device
              matchExpressions:
                vendor: { op: In, value: ["1002"] }
                device: { op: In, value: ["740c"] }

    - name: accelerator-amd-mi210
      labels:
        moai.moreh.io/accelerator.vendor: amd
        moai.moreh.io/accelerator.model: mi210
      matchAny:
        - matchFeatures:
            - feature: pci.device
              matchExpressions:
                vendor: { op: In, value: ["1002"] }
                device: { op: In, value: ["740f"] }

    - name: accelerator-amd-mi100
      labels:
        moai.moreh.io/accelerator.vendor: amd
        moai.moreh.io/accelerator.model: mi100
      matchAny:
        - matchFeatures:
            - feature: pci.device
              matchExpressions:
                vendor: { op: In, value: ["1002"] }
                device: { op: In, value: ["738c", "738e"] }

    # the PCI info is from these websites:
    # https://github.com/NVIDIA/gpu-operator/blob/main/deployments/gpu-operator/templates/nodefeaturerules.yaml
    # source1: https://admin.pci-ids.ucw.cz/read/PC/10de
    # source2: https://devicehunt.com/view/type/pci/vendor/10de
    # --- NVIDIA ---
    - name: accelerator-nvidia-a100-40gb-pcie
      labels:
        moai.moreh.io/accelerator.vendor: nvidia
        moai.moreh.io/accelerator.model: a100-40gb-pcie
      matchAny:
        - matchFeatures:
            - feature: pci.device
              matchExpressions:
                vendor: { op: In, value: ["10de"] }
                device: { op: In, value: ["20b1", "20f1"] }

    - name: accelerator-nvidia-a100-80gb-pcie
      labels:
        moai.moreh.io/accelerator.vendor: nvidia
        moai.moreh.io/accelerator.model: a100-80gb-pcie
      matchAny:
        - matchFeatures:
            - feature: pci.device
              matchExpressions:
                vendor: { op: In, value: ["10de"] }
                device: { op: In, value: ["20b5"] }

    # the PCI info is from these websites:
    # source1: https://admin.pci-ids.ucw.cz/read/PC/1e52
    # source2: https://devicehunt.com/view/type/pci/vendor/1e52
    # --- Tenstorrent ---
    - name: accelerator-tenstorrent-wormhole
      labels:
        moai.moreh.io/accelerator.vendor: tenstorrent
        moai.moreh.io/accelerator.model: wormhole
      matchAny:
        - matchFeatures:
            - feature: pci.device
              matchExpressions:
                vendor: { op: In, value: ["1e52"] }
                device: { op: In, value: ["401e"] }

    - name: accelerator-tenstorrent-blackhole
      labels:
        moai.moreh.io/accelerator.vendor: tenstorrent
        moai.moreh.io/accelerator.model: blackhole
      matchAny:
        - matchFeatures:
            - feature: pci.device
              matchExpressions:
                vendor: { op: In, value: ["1e52"] }
                device: { op: In, value: ["b140"] }
