global:
  imagePullSecrets:
    - name: {{ .MorehRegistrySecretName }}

config:
  apiVersion: inference.networking.x-k8s.io/v1alpha1
  kind: EndpointPickerConfig
  plugins:
    - type: pd-profile-handler
    - type: prefill-filter
    - type: decode-filter
    - type: queue-scorer
    - type: max-score-picker
  schedulingProfiles:
    - name: prefill
      plugins:
        - pluginRef: prefill-filter
        - pluginRef: queue-scorer
        - pluginRef: max-score-picker
    - name: decode
      plugins:
        - pluginRef: decode-filter
        - pluginRef: queue-scorer
        - pluginRef: max-score-picker

gateway:
  name: {{ .GatewayName }}
  gatewayClassName: {{ .GatewayClass }}
  {{- if .IstioRev }}
  labels:
    istio.io/rev: {{ .IstioRev }}
  {{- end }}

inferencePool:
  targetPorts:
    - number: 8000

{{- if not .IsKind }}
extraVolumes:
  - name: models
    persistentVolumeClaim:
      claimName: models

extraVolumeMounts:
  - name: models
    mountPath: /mnt/models
{{- end }}