apiVersion: odin.moreh.io/v1alpha1
kind: InferenceService
metadata:
  name: {{ .Name }}
  namespace: {{ .Namespace }}
spec:
  replicas: {{ .Replicas }}
  inferencePoolRefs:
    - name: heimdall
  templateRefs:
    {{- range .TemplateRefs }}
    - name: {{ . }}
    {{- end }}
  template:
    spec:
      containers:
        - name: main
          env:
            {{- if .HFToken }}
            - name: HF_TOKEN
              value: "{{ .HFToken }}"
            {{- end }}
            {{- if .HFEndpoint }}
            - name: HF_ENDPOINT
              value: "{{ .HFEndpoint }}"
            {{- end }}
          {{- if not .IsKind }}
          resources:
            requests:
              mellanox/hca: "1"
            limits:
              mellanox/hca: "1"
          {{- end }}
      {{- if not .IsKind }}
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: moai.moreh.io/accelerator.vendor
                    operator: In
                    values:
                      - amd
                  - key: moai.moreh.io/accelerator.model
                    operator: In
                    values:
                      - mi250
                  - key: kubernetes.io/hostname
                    operator: In
                    values:
                      - mi250-050
                      - mi250-054
      tolerations:
        - key: benchmark
          operator: Exists
          effect: NoSchedule
      {{- end }}
